body {
  margin:0;
}
.navigationBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F44336;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0px 1px 2px grey;
}

.navigationBar li {
    float: left;
}

.navigationBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    color: #FFFFFF;
}

.navigationBar li a:hover:not(.active) {
    background-color:  #FFFFFF;
    color: #000000;
}
